@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: .4rem;
  background-color: hsl(206, 4%, 90%);
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: hsl(206, 4%, 74%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(206, 4%, 68%);
}
